    @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h3>The main focus of this project is</h3> 
    <ul>
        <li>ASP.NET Core MVC</li>
        <li>Entity Framework Core</li>
        <li>ASP.NET Identity</li>
        <li>Model validation</li>
        <li>Basic Routing</li>
        <li>Testing using XUnit.NET</li>
    </ul>


<h3>Patterns learned</h3>
<ul>
    <li>MVC</li>
    <li>Repository</li>
    <li>Unit of Work</li>
</ul>

<h3>Concepts learned</h3>
<ul>
    <li>Domain Model: A class that maps to a SQL database table</li>
    <li>ViewModel: A class that is specific for a view - used in conjunction with MVC pattern</li>
    <li>Code first migration: Database is generated through Entity Framework using Domain Models. No SQL queries used</li>
    <li>Mocks</li>
    </ul>